@import "../../../assets/styles/vars-and-mixins";

:host {
  display: block;
  position: fixed;
  max-width: 500px;
  min-width: 400px;
  text-align: left;
  top: $header-height + 10px;
  right: 10px;
  padding: 10px;
  .global-error-window {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  :host {
    max-width: none;
    min-width: 50px;
    width: 100%;
    left: 0;
  }
}
